<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/app.css">
    <title>iAcademy</title>
  </head>
  <body>
    <div id="app">
      <header class="my-header min-width">
        <div class="layer">
          <!-- contenitore interno -->
          <div class="container">
            <nav class="navbar">
              <div class="navbar-logo">
                <img src="img/logo-light.png" alt="">
              </div>
              <div class="navbar-menu">
                <div v-for="element in menuNav" class="menu-element">
                  <a href="#">{{element}}</a>
                </div>
              </div>
              <div class="navbar-icons">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-bag"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
              </div>
            </nav>

            <div class="jumbotron-text">
              <h1>Contemporary Ideas</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="jumbotron-text-button">
                <a href="#">REGISTER NOW</a>
              </div>
            </div>

            <div class="box-circle">
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
            </div>
          </div>
          <!-- /contenitore interno -->
        </div>
      </header>

      <main class="my-main min-width">
        <section class="avalaible-courses">
          <div v-for="(element, index) in courses" class="single-course">
            <img :src="imageCourse(index)" alt="">
            <span>{{element.name}}</span>
          </div>
        </section>

        <section class="trusted-name">
          <h2>The Trusted Name <br> for In-Home Tutoring.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          <a href="#"><span>LEARN MORE</span></a>
        </section>

        <section class="empowering-children">
          <div class="children-hand-image">
            <img src="img/h5-img-2.jpg" alt="">
          </div>
          <div class="text">
            <h3>Empowering <br> Children To Reach Their Potential.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="numbers">
              <div class="box-numbers">
                <span>168</span>
                <span>User Stories</span>
              </div>

              <div class="box-numbers">
                <span>347</span>
                <span>Events</span>
              </div>
            </div>
          </div>
        </section>

        <section class="student-review">
          <div class="review-box">
            <div class="box-image">
              <img src="img/testimonials-standard-2.png" alt="">
            </div>

            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>

            <span>Joan Collins</span>
            <span>STUDENT</span>

            <div class="box-circle">
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
            </div>
          </div>

        </section>
      </main>



    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
