<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="dist/app.css">
  <title>iAcademy</title>
</head>

<body>
  <div id="app">
    <header class="my-header min-width">
      <div class="jumbo-img-box">
        <img :src="imageJumbo()" alt="">
      </div>
      <div class="layer">
        <div class="container">

          <nav class="navbar">
            <div class="navbar-logo">
              <img src="img/logo-light.png" alt="">
            </div>
            <div class="navbar-menu">
              <div v-for="element in menuNav" class="menu-element">
                <a href="#">{{element}}</a>
              </div>
            </div>
            <div class="navbar-icons">
              <a href="#"><i class="fas fa-search"></i></a>
              <a href="#"><i class="fas fa-shopping-bag"></i></a>
              <a href="#"><i class="fas fa-bars"></i></a>
            </div>
          </nav>

          <div v-for="(element, index) in textJumbotron" v-if="index === jumboIDX" class="jumbotron-text">
            <h1>{{element.title}}</h1>
            <p>
              {{element.text}}
            </p>
            <div class="jumbotron-text-button">
              <a href="#">{{element.textButton}}</a>
            </div>
          </div>

          <div class="box-circle">
            <i v-for="(element, index) in textJumbotron" @click="jumboIDX = index"
            :class="coloraPallino(index, jumboIDX)"></i>

          </div>
        </div>
      </div>
    </header>

    <main class="my-main">
      <section class="avalaible-courses min-width">
        <div class="container">
          <div v-for="(element, index) in courses" class="single-course">
            <img :src="imageCourse(index)" alt="">
            <span>{{element.name}}</span>
          </div>
        </div>
      </section>

      <section class="trusted-name min-width">
        <div class="container">
          <h2>The Trusted Name <br> for In-Home Tutoring.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
          <a href="#"><span>LEARN MORE</span></a>
        </div>
      </section>

      <section class="empowering-children min-width">
        <div class="container">
          <div class="children-hand-image">
            <img src="img/h5-img-2.jpg" alt="">
          </div>
          <div class="text">
            <h3>Empowering <br> Children To Reach Their Potential.</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="numbers">
              <div class="box-numbers">
                <span>168</span>
                <span>User Stories</span>
              </div>

              <div class="box-numbers">
                <span>347</span>
                <span>Events</span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="student-review min-width">
        <div class="container">
          <div v-for="(element, index) in studentsReview"
          v-if="index === studentReviewIDX" class="review-box">

            <div class="box-image">
              <img :src="imageStudent()" alt="">
            </div>

            <p>
              {{element.review}}
            </p>

            <div class="name-student">
              <span>{{element.name}}</span>
              <small>{{element.grade}}</small>
            </div>

            <div class="box-circle">
              <i v-for="(element, index) in studentsReview"
              @click="studentReviewIDX = index" :class="coloraPallino(index, studentReviewIDX)"></i>
            </div>
          </div>
        </div>
      </section>

      <section class="learning-possibilities min-width">
        <div class="container">
          <div class="possibilities-choice">
            <div v-for="(choice, index) in possibilitiesChoices"  @click="choiceLearningIDX = index" :class="classTab(index)">
              {{choice.tabName}}
            </div>
          </div>

          <div v-for="(choice, index) in possibilitiesChoices"
          v-if="index === choiceLearningIDX" class="info-lerning">

            <h3>{{choice.title}}</h3>
            <p>
              {{choice.description}}
            </p>

            <ul>
              <li v-for="(item, index) in possibilitiesChoices[choiceLearningIDX].listItem">
                {{item}}
              </li>
            </ul>
          </div>

          <div class="img-square">
            <img :src="imagePossChoice()" alt="">
          </div>
        </div>
      </section>

      <section class="popular-courses min-width">
        <div class="container">
          <div class="intestazione">
            <h2>Popular Online Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          <div v-for="(element, index) in popularCourses[coursesIDX].arrayCourses" class="blocco-corso">
            <div class="box-img">
              <img :src="imagePopularCourses(index)" alt="">
            </div>

            <div class="info-course one">
              <span>{{element.name}}</span>
              <span>{{element.price}}</span>
              <div class="teacher">
                {{element.teacher}}
              </div>
            </div>

            <p class="info-course two">
              {{element.description}}
            </p>

            <div class="info-course three">
              <i></i>
              <span>{{element.placeAvailable}}</span>
              <i></i>
              <span>{{element.typeOfCourse}}</span>
            </div>
          </div>

        </div>

      </section>

    </main>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>

</html>
