@mixin inner-container {
  width: 1000px;
  margin: 0 auto;
}

@mixin background-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin flex-center-around {
  justify-content: space-around;
  align-items: center;
}

@mixin flex-start-center {
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-end-center {
  justify-content: flex-end;
  align-items: center;
}

@mixin between-center {
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start-around {
  justify-content: space-around;
  align-items: flex-start;
}

@mixin absolute {
  position: absolute;
  transform: translate(-50% , -50%);
  top: 50%;
  left: 50%;
}

@mixin lightblue-button {
  width: 200px;
  height: 50px;
  background-color: #40c4ff;
  font-family: $font-paragraph;
  line-height: 50px;
}

@mixin learn-blue {
  color: #52c9ff;
  font-family: $font-paragraph;
  font-weight: bold;
}

@mixin h2-style {
  font-family: $font-title;
  font-size: 45px;
}

/*variabili*/
$jumbotron-image-1: "../img/course-9-f-img.jpg";
$jumbotron-image-2: "..img/course-4-f-img.jpg";
$jumbotron-image-3: "..img/course-10-f-img.jpg";
$trusted-name-image: "../img/h5-img-1.jpg";
$student-opinion-bg: "../img/h5-parallax-img-1.png";

$white: #fff;
$nav-item:  #f6f5f4;
$selected-link: #3db6ec;
$paragraph-color: #9c9c9c;
$dark-grey: #8b8383;
$light-grey: #cecece;
$background-hover: #f2f8fc;

$section-height-600: 600px;
$min-width: 1000px;
$width-menu-bar: 600px;
$width-logo: 200px;
$width-box-icons: 100px;
$font-title: 'PT Serif', serif;
$font-paragraph: 'Roboto', sans-serif;
