@import "partials/_commons";

/*classi utility*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
}

.min-width {
  min-width: $min-width;
}

a:hover {
  color: $selected-link;
}

/*/classi utility*/

.my-header {
  @include background-image;
  position: relative;
  background-size: cover;
  position: relative;

  .jumbo-img-box {
    width: 100%;
    height: 900px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .layer {
    @include absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 900px;

    .container {
      @include inner-container;

      .navbar {
        @include flex-center;
        height: 100px;
        width: 100%;
        display: flex;

        &-logo {
          img {
            width: 80%;
          }
        }

        &-menu {
          @include flex-row ;
          @include flex-center-around;
          font-family: $font-paragraph;
          width: $width-menu-bar;
          height: 100%;

          .menu-element {
            text-align: center;
            color: $nav-item;
          }
        }

        &-icons {
          @include flex-row;
          width: $width-box-icons;
          color: $nav-item;
          justify-content: space-around;
        }
      }

      .jumbotron-text {
        @include absolute;
        @include flex-column;
        @include flex-center;
        text-align: center;
        width: 100%;
        height: 50%;
        color: $white;

        h1 {
          font-size: 80px;
          font-family: $font-title;
        }

        p {
          padding: 50px 0;
          line-height: 2;
          width: 1000px;
          font-family: $font-paragraph;
          color: $white;
        }

        &-button {
          @include lightblue-button;
        }
      }

      .box-circle {
        @include absolute;
        @include flex-row;
        @include flex-center-around;
        width: 100px;
        top: 95%;
        color: rgba(0, 0, 0, 0.2);

        i {
          padding: 3px;
        }

        i.active {
          color: $white;
        }

        i:hover {
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}//end header

.my-main {

  section.avalaible-courses {
    .container {
      @include inner-container;
      @include flex-row ;
      @include flex-start-around;
      margin-top: 50px;
      height: 300px;

      .single-course {
        @include flex-column;
        @include flex-center;
        font-family: $font-title;
        height: 200px;
        width: 150px;

        img {
          margin-bottom: 20px;
          width: 60px;
        }
      }

      .single-course:hover {
        cursor: pointer;
        background-color: $background-hover;
      }
    }
  }

  section.trusted-name {
    border-bottom: 1px solid #ccc;

    .container {
      @include inner-container;
      @include background-image;
      background-image: url($trusted-name-image);
      text-align: left;
      height: 950px;

      h2 {
        @include h2-style;
      }

      p {
        padding: 30px 0;
        line-height: 1.5;
        width: 1000px;
        font-family: $font-paragraph;
        color: $paragraph-color;
      }

      span {
        @include learn-blue;
      }
    }
  }

  section.empowering-children {
    .container {
      @include inner-container;
      @include flex-row;
      @include flex-end-center;
      position: relative;
      height: $section-height-600;

      .children-hand-image {
        @include absolute;
        width: 50%;
        top: 60%;
        left: 25%;

        img {
          width: 100%;
        }
      }

      .text {
        @include flex-column;
        padding-top: 10%;
        text-align: left;
        width: 40%;
        height: 100%;


        h3 {
          font-family: $font-title;
          font-size: 40px;
        }

        p {
          font-family: $font-paragraph;
          color: $paragraph-color;
          line-height: 1.5;
          padding: 30px 0;
        }

        .numbers {
          @include flex-row;
          width: 80%;
          justify-content: space-between;
          font-family: $font-title;

          .box-numbers {
            @include flex-column;
            align-items: flex-start;
            height: 100px;
            justify-content: space-between;
            color: $selected-link;

            span:first-child {
              font-size: 50px;
            }

            span:nth-child(2) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  section.student-review {
    color: $white;
    position: relative;
    height: $section-height-600;
    background-image: url($student-opinion-bg);
    background-position: top;
    background-size: cover;

    .review-box {
      @include inner-container;
      @include absolute;
      @include flex-column;
      @include flex-center-around;
      height: 70%;
      text-align: center;

      p {
        padding: 0 50px;
        line-height: 1.5;
        font-family: $font-paragraph;
      }

      .name-student {
        @include flex-column;
        @include flex-center-around;
        height: 50px;

        span {
          font-size: 20px;
          font-family: $font-title;
          margin-bottom: 5px;
        }
      }

      .box-circle {
        @include flex-row;
        @include flex-center-around;
        width: 70px;
        font-size: 15px;
        color: rgba(256, 256, 256, 0.2);

        i.active {
          color: $white;
        }

        i:hover {
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  section.learning-possibilities {
    border-bottom: 1px solid #ccc;

    .container {
      @include inner-container;
      @include flex-row;
      @include flex-center-around;
      position:relative;
      height: $section-height-600;

      .possibilities-choice {
        height: 65%;
        width: 25%;

        .choice {
          @include flex-row;
          @include flex-start-center;
          color: $dark-grey;
          font-weight: bold;
          height: calc(100% / 6);
          border: solid $light-grey 1px;
          padding-left: 20px;
        }

        .choice.selected {
          border-left: 8px solid $selected-link;
          background-color: $background-hover;
        }

        .choice:hover {
          border-left: 8px solid $selected-link;
          background-color: $background-hover;
          cursor: pointer;
        }
      }

      .info-lerning {
        width: 65%;
        height: 60%;

        h3 {
          font-family: $font-title;
          font-size: 40px;
        }

        p {
          font-family: $font-paragraph;
          color: $paragraph-color;
          line-height: 1.5;
          padding: 30px 0;
        }

        ul {

          li {
            font-family: $font-paragraph;
            color: $paragraph-color;
            margin-bottom: 20px;
            list-style: none;
          }

          li:before {
            content: "\f00c";
            margin-right: 10px;
            font-weight: 900;
            color: $selected-link;
            font-size: 70%;
            font-family: "Font Awesome 5 Free";
          }
        }
      }

      .img-square {
        @include absolute;
        top: 75%;
        left: 85%;
        width: 100px;

        img {
          width: 100%;
        }
      }
    }
  }

  section.popular-courses {
    height: 950px;
    @include flex-row;
    @include flex-center;
    border-bottom: 1px solid #ccc;
    background-image: url("../img/page-background-img.png");

    .container {
      @include inner-container;
      @include flex-column;
      @include flex-center-around;
      height: 100%;


      .intestazione {
        text-align: center;

        h2 {
          @include h2-style;
        }

        p {
          padding: 30px 0;
          line-height: 1.5;
          width: 1000px;
          font-family: $font-paragraph;
          color: $paragraph-color;
        }
      }

      .slider-container {
        @include flex-row;
        @include flex-center-around;
        width: 100%;
        height: 400px;

        .blocco-corso {
          @include flex-column;
          @include flex-start-around;
          height: 120%;
          width: calc(100% / 3);
          font-family: $font-paragraph;
          color: $paragraph-color;
          font-size: 15px;
          background-color: $white;

          .box-img {
            width: 100%;
            height: 200px;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .info-course.one {
            @include flex-row;
            @include between-center;
            width: 100%;

            .course-title {
              font-family: $font-title;
              font-weight: bold;
            }

            .price {
              background-color: #40c4ff;
              color: $white;
              text-align: center;
              width: 50px;
              border-radius: 20px;
            }

            .price.free {
              background-color: #ffd740;
            }
          }

          .info-course.one, .two, .three {
            padding: 0 5px;
          }

          .teacher {
            padding-left: 5px;
          }

          p {
            line-height: 1.5;
          }

          .info-course.three {
            i, span {
              padding-right: 5px;
            }
          }
        }

        .blocco-corso:nth-child(2) {
          margin: 0 30px;
        }
      }

      .box-circle {
        @include flex-row;
        @include flex-center;
        width: 100%;
        height: 80px;

        i {
          padding: 5px;
          font-size: 10px;
          color: #9ce0ff;
        }

        i.active {
          color: $selected-link;
        }

        i:hover {
          cursor: pointer;
          color: $selected-link;
        }

      }
    }
  }

  section.pricing-plan {
    height: 900px;
    background-image: url("../img/page-background-img.png");
    @include flex-row;
    @include flex-center;

    .container {
      @include inner-container;
      @include flex-column;
      @include flex-center-around;

      .intestazione {
        text-align: center;

        h2 {
          @include h2-style;
        }

        p {
          padding: 30px 0;
          line-height: 1.5;
          width: 1000px;
          font-family: $font-paragraph;
          color: $paragraph-color;
        }
      }

      .table {
        @include flex-row;
        width: 100%;
        border: solid 1px $light-grey;


        .column-property, .column-products {
          width: (100% / 4);
          border: solid 1px $light-grey;
        }

        .property {
          @include flex-row;
          @include flex-center;
          font-family: $font-title;
          height: 50px;
          width: 100%;
          border: solid 1px $light-grey;
          padding-left: 30px;
        }

        .save {
          padding: 30px;
        }

        .save, .top {
          height: 200px;
          font-family: $font-title;
          font-size: 25px;
          text-align: left;
        }

        .top {
          text-align: center;

          .price {
            font-size: 20px;
          }
        }

        .value {
          @include flex-row;
          @include flex-center;
          font-family: $font-paragraph;
          height: 50px;
          width: 100%;
          text-align: center;
          border: solid 1px $light-grey;
        }

        .bottom {
          @include flex-row;
          @include flex-center;
          height: 100px;


          &-button {
            @include lightblue-button;
            text-align: center;
          }
        }

      }
    }
  }

  section.partner-logo {
    @include flex-row;
    @include flex-center;
    height: 200px;

    .container {
      @include inner-container;
      @include flex-row;
      @include flex-center;

      .logo {
        width: calc(100% / 4);

        img {
          width: 100%;
        }
      }
    }
  }
}//end main

.my-footer {
  height: $section-height-600;
  background: #000;

  .container {
    @include inner-container;
    @include flex-column;
    @include flex-end-center;
    height: 100%;
    color: $white;

    section.top {
    @include flex-row;
    @include flex-start-around;
    width: 100%;
    height: 50%;
    border-bottom: solid #fff 1px ;

      section.left {
        @include flex-row;
        height: 100%;
        width: 75%;

        .section {
          @include flex-column;
          @include between-start;
          height: 75%;
          width: calc(100% / 3);
        }

        .motto {
          line-height: 1.5;
        }
      }

      section.right {
        @include flex-column;
        @include flex-center;
        width: 25%;

        .box-image {
          width: 75%;

          img {
            width: 100%;
          }
        }
      }
    }

    section.bottom {
      height: 25%;
    }
  }
}
